body {
    background-image: url('/assets/img/—Pngtree—tropical\ rainforest\ forest\ plants\ nature_2397659.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }